<html>

<head>
    <link rel="stylesheet" href="../css/document.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
    <main class="container">
        <div class="card-document">
            <div class="card-document-header">
                ETAT CIVIL
            </div>
            <div class="card-document-header">
                Carte d'identité emprunteur
            </div>
            <div class="card-document-buttons">
                <a href="#" class="btn">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
                <a href="#" class="btn">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                <a href="#" class="btn">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="card-document">
            <div class="card-document-header">
                ETAT CIVIL
            </div>
            <div class="card-document-header">
                Carte d'identité co-emprunteur
            </div>
            <div class="card-document-buttons">
                <a href="#" class="btn">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
                <a href="#" class="btn">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                <a href="#" class="btn">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="card-document">
            <div class="card-document-header">
                ETAT CIVIL
            </div>
            <div class="card-document-header">
                Passeport
            </div>
            <div class="card-document-buttons">
                <a href="#" class="btn">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
                <a href="#" class="btn">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                <a href="#" class="btn">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
            </div>
        </div>


        <div class="card-document-test">
            <div class="card-document-header">
                <span>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Visual_Studio_Code_1.35_icon.svg/256px-Visual_Studio_Code_1.35_icon.svg.png" alt="">
                </span>
                <span>
                    état civil
                </span>
            </div>
            <div class="card-document-buttons">
                <a href="#" class="btn hidden">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
                <a href="#" class="btn">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                <a href="#" class="btn">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
            </div>
        </div>

        <div class="card-document-test">
            <div class="card-document-header">
                <span>
                    état civil
                </span>
            </div>
            <div class="card-document-buttons">
                <a href="#" class="btn hidden">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
                <a href="#" class="btn">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                <a href="#" class="btn">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </main>
</body>

</html>