<html>
    <head>
        <link rel="stylesheet" href="../css/app.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    </head>
    <body>
        <main>
            <form>
                <div class="form-group">
                    <div class="user-radio">
                        <input  type="radio" 
                                id="user-input-proprietaire"
                                name="radio">
                        <label  for="user-input-proprietaire" 
                                class="situation-immo">
                                <i class="fa fa-home" aria-hidden="true"></i>
                                <span>propriétaire</span>
                        </label>
                    </div>
                    <div class="user-radio">
                        <input  type="radio" 
                                id="user-input-locataire"
                                name="radio">
                        <label  for="user-input-locataire" 
                                class="situation-immo">
                                <i class="fa fa-key" aria-hidden="true"></i>
                                <span>locataire</span>
                        </label>
                    </div>
                    <div class="user-radio">
                        <input  type="radio" 
                                id="user-input-heberge"
                                name="radio"
                        >
                        <label  for="user-input-heberge" 
                                class="situation-immo">
                                <i class="fa fa-bed" aria-hidden="true"></i>
                                <span>hébergé</span>
                        </label>
                    </div>
                </div>
            </form>
        </main>
    </body>
</html>